:root {
    --black: #1e152a;
    --gray: #4e5567;
    --white: #F2F7F8;
    --highlight-1: #5ab1bb;
    --highlight-2: #a5c882;
    --highlight-3: #f7dd72;
}
html, body {
    overscroll-behavior-y: contain;
    overflow: hidden;
}
body {
    background-color: var(--black);
    color: white;
    text-align:center;
    margin: 0;
    padding:0;
}
div {
    background-color: var(--gray);
}
button, input, select {
    background-color: var(--highlight-1);
    border: none;
    padding: 5px;
    min-width:30px;
    min-height:30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover, input:hover {
    background-color: var(--highlight-2);
} 
button:disabled {
    background-color: var(--black);
    cursor: auto;
}
button img {
    width: 20px;
}
.selected, .selectedButton {
    transform: translate(0, -5px);
    box-shadow: 0 5px var(--white);
}
.highlighted {
    background-color: var(--highlight-3);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--gray);
}
::-webkit-scrollbar-thumb {
  background: var(--highlight-1);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-2);
}
main {
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}
.toolbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-x: scroll;
    align-items: stretch;
    align-self: stretch;
    pointer-events: auto;
}
.toolbarRow {
    margin: 0;
    display: flex;
    flex-direction: row;
}
.toolbarRow > button {
    flex-grow: 1;
}
.toolbarRow > :nth-last-child(n+2) {
    margin-right: 2px;
}
.toolbarRow > span {
    flex-grow: 1;
    display:flex;
}
.toolbarRow > span > button {
    flex-grow: 1;
}
.extraBar {
    align-self:center;
}
#UI {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: none;
    pointer-events: none;
}
#centerArea {
    flex-grow:1;
    display: flex;
    overflow: hidden;
    background: none;
    pointer-events: none;
}
#centerArea > div {
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background: none;
    pointer-events: none;
}
.sideMenu {
    flex-grow:1;
    padding:10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
    pointer-events: auto;
    overflow-y: scroll;
}
.sideMenu > span {
    display: flex;
    align-items: center;
    gap:5px;
    text-align: left;
}
.sideMenu > span > input, .sideMenu > span > select {
    flex-grow: 1;
    background-color:var(--white);
}
.inlineInput {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}
#canvasContainer {
    padding: 10px;
}
#paletteSettings {
    justify-content: flex-end;
}
#paletteButtons {
    display:flex;
    flex-direction: column;
    max-height:80vh;
    justify-content: flex-end;
    flex-wrap: wrap;
}