:root {
    --black: #1e152a;
    --gray: #4e5567;
    --white: #F2F7F8;
    --highlight-1: #5ab1bb;
    --highlight-2: #f7dd72;
    --highlight-3: #a5c882;
}
html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overscroll-behavior: none;
    overflow: hidden;
}
body {
    background-color: var(--black);
    color: white;
    text-align:center;
    margin: 0;
    padding:0;
}
div {
    background-color: var(--gray);
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
P {
    margin-top: 0;
}
button, input, select {
    background-color: var(--highlight-1);
    border: none;
    padding: 5px;
    min-width:30px;
    min-height:30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover, input:hover {
    background-color: var(--highlight-2);
} 
button:disabled {
    background-color: var(--black);
    cursor: auto;
}
button img {
    width: 20px;
}
.selected, .selectedButton {
    transform: translate(0, -5px);
    box-shadow: 0 5px var(--white);
}
.highlighted {
    background-color: var(--highlight-3);
}
main {
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}
.toolbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-x: auto;
    align-items: stretch;
    align-self: stretch;
    pointer-events: auto;
}
.toolbarRow {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.toolbarRow > button {
    flex-grow: 1;
}
.toolbarRow > span {
    display:flex;
    gap: 2px;
}
.toolbarRow > span > button {
    flex-grow: 1;
}
.extraBar {
    align-self:center;
}
#UI {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: none;
    pointer-events: none;
}
#UI > div {
    background: none;
    pointer-events: none;
}
#centerArea {
    flex-grow:1;
    padding: 5px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
#centerArea > div {
    max-width: min(400px, 50%);
    height:100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.sideMenu {
    background-color: var(--highlight-3);
    color: var(--black);
    padding:10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
    pointer-events: auto;
}
.sideMenu > span {
    display: flex;
    align-items: center;
    gap:5px;
    text-align: left;
}
.sideMenu > span > input, .sideMenu > span > select {
    flex-grow: 1;
    background-color:var(--white);
}
#layerDisplay > span {
    display: grid;
    grid-template-areas: 'label . .'
                         'label . .';
    padding: 5px;
}
#layerDisplay > span > input {
    grid-area: label;
}
#layerDisplay > .highlighted {
    background-color: var(--highlight-2);
}
.bar {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#bottomBar {
    flex-direction: column-reverse;
}
.inlineInput {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    flex-grow: 1;
}
#canvasContainer {
    padding: 10px;
}
#paletteSettings {
    justify-content: flex-end;
}
#paletteButtons {
    display:flex;
    flex-direction: column;
    max-height:80vh;
    justify-content: flex-end;
    flex-wrap: wrap;
}